* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0 auto;
}

body {
    background-image: url(../images/bkg.jpg);
    font-family: helvetica, arial;
    line-height: 25px;
    color: #fff;
}

#wrapper {
    background-color: black;
    width: 940px;
    margin: 20px auto;
}

header {
    padding: 25px;
}

.fl_left {
    float: left;
}

.fl_right {
    float: right;
}

.fl_left a {
    text-decoration: none;
    color: #ffa31a;
}

.fl_right ul {
    list-style-type: none;
    ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
}

nav li a:hover {
    background-color: #0f0e0e;
}

h2 {
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
}

h3 {
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

p {
    text-align: justify;
    margin: 20px;
    font-size: 18px;
}

#content {
    width: 700px;
    float: left;
    margin-left: 20px;
}

article {
    border: 2px solid #e68a00;
    margin: 20px;
}

table,th,td{
    
    border: 1px solid #e68a00;
    border-collapse: collapse;
   
}

th,td{
   padding: 5px;
}

th {
    background-color:  #e68a00;
}
table{width: 100%;}
aside {float: right;
width: 220px;
}
footer{
    clear: both;
    background-color: #333;
    border-radius: 10px;
}
iframe {width: 608px;
height: 342px;
margin: 0 auto;
display: block;
padding-bottom: 10px;
border: none;}





