                        * {
                    margin: 0;
                    padding: 0;
                }
                
                body {
                    font-family: Roboto, sans-serif;
                    line-height: 1;
                }
                
                .container {
                    width: 80%;
                    margin: auto;
                    overflow: hidden;
                }
                
                header {
                    background-color: #fff;
                    padding-top: 30px;
                    min-height: 70px;
                    margin: 0 auto;
                }
                
                header #logo {
                    float: left;
                }
                
                header img:hover {
                    transform: translate(20px, 0px);
                }
                
                header nav {
                    float: right;
                    margin-top: 10px;
                }
                
                header ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
                
                header li {
                    float: left;
                }
                
                header a {
                    color: #646262;
                    text-decoration: none;
                    font-size: 18px;
                    padding: 0 20px;
                    display: block;
                }
                
                header li a:hover:not(.active) {
                    color: #ccc;
                    text-decoration: underline;
                }
                
                header .active {
                    color: #000;
                }
                
                header .active:hover {
                    color: #e8491d;
                    text-decoration: underline;
                }
                
                #showcase1 {
                    min-height: 500px;
                    background: url(../img/first-background.jpg) no-repeat;
                    background-size: cover;
                    text-align: center;
                    color: #fff;
                }
                
                #showcase1 h1 {
                    margin-top: 150px;
                    font-size: 60px;
                    display: block;
                    height: 80px;
                    margin-bottom: 10px;
                    animation-name: title;
                    animation-duration: 3s;
                    animation-iteration-count: 4;
                }
                
                @keyframes title {
                    from {
                        color: white;
                        font-size: 60px;
                    }
                    to {
                        color: #e66311;
                        font-size: 80px;
                    }
                }
                
                #showcase1 h3 {
                    font-size: 30px;
                    letter-spacing: 2px;
                }
                
                .button_1 {
                    height: 50px;
                    width: 15%;
                    background-color: #e8491d;
                    border: 0;
                    border-radius: 10px;
                    margin-top: 20px;
                    color: #fff;
                }
                
                #boxes {
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                
                #boxes h2 {
                    font-size: 40px;
                    text-align: center;
                    color: #646262;
                    margin-bottom: 20px;
                    text-shadow: 2px 2px 2px #ccc;
                }
                
                #boxes .box {
                    float: left;
                    width: 30%;
                    padding: 10px;
                    text-align: center;
                }
                
                #boxes .box img {
                    width: 130px;
                    height: 120px;
                }
                
                #boxes .box img:hover {
                    transform: rotate(10deg);
                }
                
                #boxes .box h3,
                #boxes .box p {
                    font-size: 30px;
                    color: #646262;
                    padding-top: 20px;
                }
                
                #boxes .box p {
                    font-size: 20px;
                    color: #646262;
                    padding-top: 20px;
                }
                
                #showcase2 {
                    min-height: 500px;
                    background: url(../img/buy-now-bg.jpg) no-repeat;
                    background-size: cover;
                    text-align: center;
                    color: #fff;
                }
                
                #showcase2 h3 {
                    font-size: 30px;
                    color: #e8491d;
                    text-align: left;
                    padding-top: 40px;
                    padding-left: 20px;
                }
                
                #showcase2 p {
                    font-size: 20px;
                    color: #646262;
                    text-align: left;
                    width: 60%;
                    padding-left: 20px;
                    line-height: 1.5;
                    padding-top: 5px;
                }
                
                footer {
                    height: 120px;
                    padding: 15px;
                    margin-top: 20px;
                    color: #646262;
                    background-color: #fff;
                    text-align: center;
                }
                
                .fab {
                    display: inline;
                    padding: 20px;
                    padding-top: 15px;
                    color: #138ccc;
                }
                
                @media screen and (max-width:768px) {
                    header nav li,
                    #boxes .box {
                        float: none;
                        text-align: center;
                        width: 100%;
                    }
                    header {
                        height: 150px;
                        padding-top: 0px;
                        padding-bottom: 15px;
                        background-color: orange;
                    }
                    header nav li a {
                        text-align: left;
                    }
                    header nav {padding-top: 20px;
                        margin-right: 150px;
                    }
                    #logo {
                        margin-left: 200px;
                        margin-top: 0px;
                    }
                    #showcase1 h3 {
                        font-size: 16px;
                    }
                    #showcase1 h1 {
                        margin-top: 50px;
                        font-size: 30px;
                    }
                    #showcase2 p {
                        font-size: 16px;
                    }
                    #showcase2 h2 {
                        margin-top: 5px;
                        font-size: 20px;
                    }
                    @media screen and (max-width:720px) {
                        header nav li,
                        #boxes .box {
                            float: none;
                            text-align: center;
                            width: 100%;
                        }
                        .container {margin: 0px;
                            width: 100%;
                        }
                        header {
                        
                     padding-top: 25px;
                        padding-bottom: 20px;
                        background-color: orange;
                    }
                         header nav {padding-top: 0px;
                        margin-right: 150px;
                    }
                        #logo {
                            margin-left: 10px;
                        }
                        #showcase1 h3 {
                            font-size: 16px;
                        }
                        #showcase1 h1 {
                            margin-top: 50px;
                            font-size: 30px;
                        }
                        #showcase2 p {
                            font-size: 16px;
                        }
                        #showcase2 h2 {
                            margin-top: 5px;
                            font-size: 20px;
                        }