header {
    position: fixed;
    background-color: #000;
    height: 60px;
    width: 100%;
}

.center {
    width: 1100px;
    margin: auto;
}

body {
    font-family:'Montserrat', sans-serif;
}

.logo {
    float: left;
    padding: 12px 0;
}

.logo h1 a {
    text-transform: uppercase;
    color: #fff;
    font: "Open S ans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

.navigation {
    float: right;
}

.navigation li {
    float: left;
}

.navigation li a {
    padding: 15px 31px 18px;
    font-size: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

span {
    color: orange;
}

li a.active {
    border-bottom: 5px solid #ff9000;
}

li a:hover:not(.active) {
    border-bottom: 5px solid #ff9000;
}

.banner img {
    height: 678px;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}

p {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 40px;
}

.details a {
    padding: 20px 40px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.details a:hover {
    box-shadow: 5px 5px 10px #000;
}

#about {
    background-color: #ff9000;
    padding: 70px 0;
}

#wedding {
    width: 100%;
}

.img-left {
    float: left;
    width: 50%;
    height: 450px;
    background: url(../img/1.jpg) no-repeat;
    background-size: cover;
}

.img-right {
    float: right;
    width: 50%;
    height: 450px;
    background: url(../img/2.jpg) no-repeat;
    background-size: cover;
}

.title-wrap h2 {
    background-color: rgba(250, 250, 0, 0.3);
    color: #fff;
}

#food {
    clear: both;
}

table,
th,
td {
    background-color: #ff9000;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

iframe {
    width: 100%;
    height: 450px;
}

footer p {
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin-top: 0;
}

h1 {
    transition: transform 2s;
}

h1:hover {
    transform: scale(2);
    transform: rotate(360dge);
}

@keyframes kontakt {
    from {
        color: white;
        font-size: 16px;
    }

    to {
        color: #e66311;
        font-size: 20px;
    }
}

#kont {animation-name: kontakt;
animation-duration: 3s;
animation-iteration-count: infinite;
width: 100px;
text-align: center;}
