* {
    margin: 0;
    padding: 0;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header span {
    color: #e8491d;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header li {
    float: left;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 20px;
    display: block;
}

header li a:hover:not(.active) {
    color: #ccc;
}

header .active {
    color: #e8491d;
}

#showcase {
    min-height: 500px;
    background: url(../images/convincer.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

#showcase h2 {
    margin-top: 120px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

#newsletter {
    padding: 15px;
    color: #fff;
    background-color: #35424a;
}

#newsletter h2 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

.button_1 {
    height: 35px;
    background-color: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 130px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #e8491d;
    text-align: center;
}

#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
    text-align: justify;
}

#main-col {
    float: left;
    width: 62%;
    margin-top: 20px;
    text-align: justify;
}

ul#services li {
    padding: 20px;
    border: #ccc solid 1px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

@media (max-width:768px) {

    header #logo,
    header nav,
    header nav li,
    #newsletter h2,
    #newsletter form,
    #boxes .box,
    #mail-col,
    #sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h2 {
        margin-top: 30px;
    }

    #newsletter button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
    }


}


@media (max-width:960px) {
    #newsletter button {
        display: block;
        width: 100%;
    }
}
